

/* shna section */

/* end shan section */









/* ahmed's section */


@media (max-width: 576px){
.card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  
}
}

@media (max-width: 300px){
    .card-columns {
        -webkit-column-count:1;
        -moz-column-count: 1;
        column-count: 1;
    }
    }

/* end fo ahmed section */









/* abd section 1  */

/* end of abd section 1 */










/* ebo section  */

/* end of ebo section */









/* abd section 2 */
.bg-frinds{
    background: #F5F5F5;
}

.bg-form{
    background: #B7B7B7;
}



/* end of abd section 2 */