

/* shna section */

/* end shan section */









/* ahmed's section */



    .card{
       
        overflow: hidden;

    }
    /* .card-columns .card:hover {
        
    } */
    .card-columns .card img {
        width: 100%;
    }
    .img-hover-effect:hover{
        transform: scale(1.5);

    }
    /* .carousel-caption {
        transform: translateY(-50%);
        bottom: 0;
        top: 50%;
      } */
      .card-overlay{
          display: none;
          align-items: center;
          justify-content: center;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: rgba(0, 145, 241, 0.8);
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
      }
    .card:hover .card-overlay{
          display: flex;
          

      }
    @media (max-width: 576px){
        .card-columns {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
          
        }
        }
        
        @media (max-width: 300px){
            .card-columns {
                -webkit-column-count:1;
                -moz-column-count: 1;
                column-count: 1;
            }
            }
/* end fo ahmed section */









/* abd section 1  */

/* end of abd section 1 */










/* ebo section  */
#team-section{
    margin-top: 20px;
}
#team-section .col-12{
    display:flex;
}
.mem-photo{
    height: 150px;
    width:150px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 0px rgba(154, 148, 148, 0.75);
}
.member-card{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    height: auto;
    padding: 10% 0 20%;

}
.member-card:hover{
    padding-top:9% ;
    box-shadow: 1px 1px 10px 0px rgba(154, 148, 148, 0.75);
    transition: 0.5s;
}
/* end of ebo section */









/* abd section 2 */
.bg-frinds{
    background: #F5F5F5;
}

.bg-form{
    background: #B7B7B7;
}



/* end of abd section 2 */